:root {
  --bg-color: hsl(222, 26%, 31%);
  --toggle-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  --screen-text-color: #fff;
  --primary-color: #fff;
  --text-color-1: #fff;
  --text-color-2: hsl(221, 14%, 31%);
  --key-background-1: hsl(30, 25%, 89%);
  --key-background-2: hsl(225, 21%, 49%);
  --key-background-3: hsl(6, 63%, 50%);
  --key-shadow-1: hsl(28, 16%, 65%);
  --key-shadow-2: hsl(224, 28%, 35%);
  --key-shadow-3: hsl(6, 70%, 34%);
}

/* light */
[data-theme="light"] {
  --bg-color: hsl(0, 0%, 90%);
  --toggle-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);
  --screen-text-color: hsl(60, 10%, 19%);
  --primary-color: hsl(60, 10%, 19%);
  --text-color-2: hsl(60, 10%, 19%);
  --key-background-1: hsl(45, 7%, 89%);
  --key-background-2: hsl(185, 42%, 37%);
  --key-background-3: hsl(25, 98%, 40%);
  --key-shadow-1: hsl(35, 11%, 61%);
  --key-shadow-2: hsl(185, 58%, 25%);
  --key-shadow-3: hsl(25, 99%, 27%);
}

/* dark */
[data-theme="dark"] {
  --bg-color: hsl(268, 75%, 9%);
  --toggle-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);
  --screen-text-color: hsl(52, 100%, 62%);
  --primary-color: hsl(52, 100%, 62%);
  --text-color-2: hsl(52, 100%, 62%);
  --key-background-1: hsl(268, 47%, 21%);
  --key-background-2: hsl(281, 89%, 26%);
  --key-background-3: hsl(176, 100%, 44%);
  --key-shadow-1: hsl(290, 70%, 36%);
  --key-shadow-2: hsl(285, 91%, 52%);
  --key-shadow-3: hsl(177, 92%, 70%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--bg-color);
  font-size: 1.6rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calc-container {
  width: min(100%, 375px);
  padding: 25px 15px;
  margin: 0 auto;
}

.calc-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.calc-header h1 {
  color: var(--primary-color);
  font-size: 2.4rem;
}

.theme {
  display: flex;
  align-items: flex-end;
}

.theme-text {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 1rem;
  margin-right: 15px;
}

.theme input {
  display: none;
}

.theme-switcher {
  display: flex;
  justify-content: space-between;
  width: 6rem;
  height: 3.4rem;
  position: relative;
}

.theme-switcher label {
  flex: none;
  width: 33.3%;
  height: 100%;
  background-color: transparent;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 1.3rem;
  position: relative;
  z-index: 3;
}

.theme-switcher .indicator {
  display: none;
  width: 1.2rem;
  height: 1.2rem;
  background: var(--key-background-3);
  border-radius: 50%;
  position: absolute;
  bottom: 3px;
  z-index: 2;
}

.theme-switcher input:checked + .indicator {
  display: inline-block;
}

.theme .switch-slider {
  width: 100%;
  height: 1.8rem;
  background: var(--toggle-background);
  border-radius: 10rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 97%;
  margin: 0 auto;
}

/* CALC SREEN */
.screen {
  margin-top: 20px;
  background: var(--screen-background);
  padding: 10px 15px;
  text-align: right;
  color: var(--text-color-1);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 7rem;
}

.screen #preview {
  font-size: 1.2rem;
  color: var(--screen-text-color);
}

.screen #display {
  font-size: 2.7rem;
  color: var(--screen-text-color);
}

/* keypad */
.keypad {
  margin-top: 2rem;
  padding: 2rem;
  background: var(--toggle-background);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.8rem;
  border-radius: 7px;
}

.keypad .key {
  min-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: var(--key-background-1);
  color: var(--text-color-2);
  font-size: 1.6rem;
  line-height: 1;
  text-transform: uppercase;
  box-shadow: inset 0 -2px 0 var(--key-shadow-1);
}

.keypad :is(.delete, .reset) {
  background: var(--key-background-2);
  color: var(--text-color-1);
  font-size: 1.2rem;
  box-shadow: inset 0 -2px 0 var(--key-shadow-2);
}

.keypad .equal {
  background: var(--key-background-3);
  color: var(--text-color-1);
  box-shadow: inset 0 -2px 0 var(--key-shadow-3);
}

.keypad .key:hover {
  filter: brightness(130%);
}

.keypad .span-2 {
  grid-column: span 2;
}

@media (preders-color-scheme: dark) {
  body {
    display: none;
  }
}
